{% load static %}
<div class="pie-pagina ">
    <div class="contenedor-piepagina contenedor">
        <div class="info">
            <h3>Dirección</h3>
            <p>Coronel</p>
        </div>

        <div class="info">
            <img src="{% static 'img/logo2.png' %}" alt="logo vlinder">
        </div>
        
        <div class="info">
            <h3>Horarios</h3>
            <p>Lunes - Sabado 17:00 - 23:30</p>
            <div class="redes-sociales redes-pie">
                <a href="https://www.facebook.com/vlinder21"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/vlinder21burgers/"><i class="fab fa-instagram"></i></a>
                <a href="https://open.spotify.com/playlist/2VaJ7KYNjFWFBM3WHkSoaT?si=6cfc5e1681e64b30"><i class="fa-brands fa-spotify"></i></a>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <p>Todos los derechos reservados &copy; 2023 Vlinder 21, desarrollado por Camilo Durán</p>
</footer>